body {
    background-color: #bbb;
}

#container {
    width: 600px;
    height: 700px;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#player {
    width: 50px;
    height: 50px;
    background-image: url('../images/frog.png');
    background-size: contain;
    display: block;
    position: absolute;
    top: 650px;
    left: 600px;
}

#water {
    width:600px;
    height: 291px;
    background-color: #00f;
    display: block;
    position: absolute;
    top: 58px;
    margin-left: auto;
    margin-right: auto;
}
#end-grass{
    width:600px;
    height: 58px;
    background-color: #0f0;
    display: block;
    position: absolute;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}
#win{
    width: 65px;
    height: 50px;
    background-color: #00d;
    display: block;
    position: absolute;
    top: 8px;
    left: 600px;
    margin-left: auto;
    margin-right: auto;
}
#start-grass{
    width:600px;
    height: 58px;
    background-color: #0f0;
    display: block;
    position: absolute;
    top: 650px;
    margin-left: auto;
    margin-right: auto;
}
